* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(200, 200, 200, 0.9);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-wrapper {
	width: 50%;
	min-height: 250px;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	position: relative;
}

.btn-close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 15px;
	height: 15px;
	font-size: 8px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 50%;
	top: 10px;
	right: 10px;
}
