* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 100px;
}

.square {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.square-img {
	max-width: 100%;
}
