<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Main Layouts</title>
		<link rel="stylesheet" href="./css/styles.css" />
	</head>
	<body>
		<div class="main-bg">
			<div class="wrapper">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Quibusdam, in, nulla blanditiis dolores fuga nostrum, voluptate
				minima quis molestias itaque libero aliquid consequuntur
				praesentium quidem placeat dicta mollitia iste nobis consequatur
				deleniti dolor eius animi nemo. Incidunt id iste accusantium
				nam, unde est nostrum voluptate illum quo esse saepe ex ullam
				nihil vel placeat explicabo officia modi odio veritatis. Quos
				velit, error sint mollitia fuga maxime veniam fugiat amet
				officia rem consequuntur iste debitis omnis, magni perspiciatis
				accusamus dolorum culpa? Aliquid nihil aliquam impedit
				laboriosam temporibus ut exercitationem, ipsum eum animi quidem
				dolor sint delectus cum praesentium, accusamus tempora placeat?
			</div>
		</div>
		<div class="wrapper">
			<div>
				Dolore ex, ullam, temporibus ad ea mollitia obcaecati magni hic
				neque vero numquam accusantium deleniti animi impedit quisquam
				quas at! Odit ipsa explicabo excepturi repudiandae, hic unde
				dolore ea maxime blanditiis laboriosam adipisci molestiae
				officia accusamus itaque, suscipit id officiis voluptates.
				Eligendi pariatur saepe, tenetur expedita fugit odio ducimus.
				Laborum, magni ad, quam assumenda ab est doloribus labore fugiat
				accusamus dolorem aperiam quia ut accusantium tempore iste
				mollitia minus praesentium repellendus harum quae sapiente
				cupiditate unde! Harum nobis unde voluptatem natus quod quisquam
				maiores cumque consequuntur. Nemo omnis odio mollitia, quo nihil
				ipsa suscipit natus. Recusandae odio enim sapiente eum.
			</div>
			<div>
				Vitae quos excepturi repellendus deserunt, doloremque tempore,
				nihil consectetur, laboriosam commodi doloribus saepe quaerat
				deleniti repudiandae. A aliquid excepturi neque nostrum labore
				totam quas non blanditiis quis est obcaecati incidunt cum minus
				voluptates officiis asperiores voluptate veritatis accusantium
				quidem, accusamus vero consequatur similique facilis. Nam saepe
				quibusdam laudantium adipisci facere animi tempore dicta ut,
				voluptatibus exercitationem natus delectus tenetur voluptate
				voluptas iusto unde sunt nesciunt, culpa perferendis, ullam
				magni deleniti accusantium officia! Voluptas iste adipisci
				saepe, sunt ab non ea eum modi earum. Recusandae ipsam ad animi
				optio est odit, aliquid, commodi fugiat repudiandae dolor quod
				quae facilis neque corrupti.
			</div>
			<div>
				Quas dignissimos nulla saepe. Quas fugit enim, pariatur quam eos
				mollitia atque explicabo architecto dicta dolores. Quas odio
				obcaecati, impedit eaque exercitationem saepe perferendis
				expedita sint! Pariatur accusamus autem nemo accusantium
				repellat consequuntur impedit dignissimos magni dolores. Porro,
				illo optio mollitia assumenda qui illum aliquam culpa eligendi
				excepturi amet similique inventore necessitatibus deleniti
				blanditiis quasi ducimus eveniet quas dolore fugit dignissimos
				explicabo officia architecto. Consequatur quidem repudiandae vel
				veritatis? Quaerat voluptate obcaecati neque distinctio tempore
				ea nisi, debitis cupiditate quas perspiciatis esse dolorum,
				deserunt reiciendis dolores eius qui maxime soluta, nam amet?
				Ullam inventore velit maiores. Praesentium obcaecati sunt qui.
			</div>
			<div>
				Aliquid, quae qui tempora accusantium necessitatibus veniam
				cumque earum incidunt animi, molestias eos vitae dolorem? Odio
				ex, esse dolore quo nobis iusto harum beatae quos eligendi? Eius
				in nostrum exercitationem debitis doloremque corporis, dolore
				sit id laboriosam reiciendis omnis sapiente assumenda recusandae
				dolorum. Sapiente voluptatem autem ex aspernatur repudiandae
				doloribus consequatur assumenda, pariatur esse nam fugiat saepe?
				Assumenda eveniet aut atque ab aliquam rerum, odio aliquid
				perspiciatis illum vitae rem maiores molestiae iste consequuntur
				distinctio reiciendis ea fugiat earum deleniti quidem neque,
				odit officia. Magnam praesentium voluptate quidem rem, unde odit
				iusto veritatis eos aliquam minima maiores aperiam voluptatibus
				reprehenderit?
			</div>
		</div>
	</body>
</html>
